beautifulsoup4
bs4
certifi
chardet
Django
django-cors-headers
django-cors-middleware
django-extensions
django-rest-framework-mongoengine
djangorestframework
protobuf
PyJWT
python-dateutil
requests
schedule
six
urllib3
workdays