beautifulsoup4
bs4
certifi
chardet
Django
django-auth-ldap
django-cors-headers
django-cors-middleware
django-extensions
django-rest-framework-mongoengine
djangorestframework
idna
mongoengine
mysqlclient
protobuf
PyJWT
python-dateutil
python-ldap
pytz
redis
requests
schedule
six
urllib3
workdays
